
    <div class="contact-content">
        <h1 class="title">Contact</h1>
        <p class="subtitle"> Happy that you have visited us!! Our main aim is to help you people during this Global pandemic. This project is developed for the hackathon that is conducted by e-Yantra by Saisrinivasan and sanjay from College of engineering, Guindy 
        </p>
        <h3 class="contact-head">Sai Saisrinivasan</h3>
        <p class="contact-address">
            College of Engineering , Guindy,<br>
            Chennai,<br>
            Ph.no :+91 6383 393 684 .
        </p>
        <h3 class="contact-head">
            Sanjay
        </h3>
        <p class="contact-address">
            College of Engineering , Guindy ,<br>
            Chennai,<br>
            ph.no : +91 7358723577 .</p>
        </p>
                   

    </div>